@page
@model ClubMemberShip.Web.Pages.PageAdmin.AdminClubActivity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].StartDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].EndDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].CreateDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].TimeLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].Club)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ClubActivity)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-page="Index" asp-route-PageIndex="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>