@page
@model ClubMemberShip.Web.Pages.PageAdmin.AdminClub.IndexModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].ShortDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].LongDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].DateOfEstablishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club[0].Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Club) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEstablishment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-page="Index" asp-route-PageIndex="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
