@page
@model ClubMemberShip.Web.Pages.PageUser.ClubBoardManage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Club board manage</h1>

<p>
    <a asp-page="Create" asp-route-clubId="@Model.ClubId">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubBoard[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubBoard[0].ShortDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubBoard[0].LongDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubBoard[0].Club.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubBoard[0].Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ClubBoard)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">View/Edit</a> |

                @{
                    if (item.Name != "Owner")
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }

            </td>
        </tr>
    }
    </tbody>
</table>