@page
@model ClubMemberShip.Web.Pages.PageUser.ClubDetailModel

@{
    Layout = "Shared/_UserLayout";
    ViewData["Title"] = "ClubDetail";
}

<h3>Member in club</h3>
<a asp-page="./ClubBoardManage/Index" asp-route-clubid="@Model.ClubId">Manage club board</a>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student[0].Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student[0].Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student[0].DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student[0].Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student[0].Major)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Student)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade!.GradeYear.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major!.Name)
            </td>
            <td>
                @{
                    if (Model.ClubOwner)
                    {
                        <a asp-page="./KickMember" asp-route-studentid="@item.Id" asp-route-clubid="@Model.ClubId">Kick Member</a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages1; i++)
        {
            <li class="page-item @(i == Model.PageIndex1 ? "active" : "")">
                <a asp-page="./ClubDetail" asp-route-id="@Model.ClubId" asp-route-PageIndex1="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

<h3>Club activities</h3>
<p>
    <a asp-page="./StudentActivity/CreateClubActivity">Create new activity</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].ActivityDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].StartDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].EndDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].CreateDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].TimeLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubActivity[0].Club)
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ClubActivity)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @* <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | *@
                <a asp-page="./StudentActivity/ClubActivityInformation" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
    }
    </tbody>
</table>


<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages2; i++)
        {
            <li class="page-item @(i == Model.PageIndex2 ? "active" : "")">
                <a asp-page="./ClubDetail" asp-route-id="@Model.ClubId" asp-route-PageIndex2="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>


@{
    if (Model.ClubOwner)
    {
        <h3>New member</h3>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Major)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.StudentRequest)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade!.GradeYear.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major!.Name)
                    </td>
                    <td>
                        <a asp-page="./AddNewMember" asp-route-id="@item.Id" asp-route-clubId="@Model.ClubId">Action</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <div>
            <ul class="pagination">
                @for (var i = 1; i <= Model.TotalPages3; i++)
                {
                    <li class="page-item @(i == Model.PageIndex3 ? "active" : "")">
                        <a asp-page="./ClubDetail" asp-route-id="@Model.ClubId" asp-route-PageIndex3="@i" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    }
}