@page
@model ClubMemberShip.Web.Pages.PageUser.IndexModel
@{
    Layout = "Shared/_UserLayout";
    ViewData["Title"] = "Index";
}
<h1 style="width: fit-content; margin: 0 auto">WELCOME @Model.StudentLogin.Name</h1>
<br/>
<h3>YOUR Joined CLUB</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].ShortDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].LongDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].DateOfEstablishment)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.JoinedClub)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEstablishment)
            </td>
            <td>
                <a asp-page="#" asp-route-id="@item.Id">Club information</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPagesJoinedClub; i++)
        {
            <li class="page-item @(i == Model.PageIndexJoinedClub ? "active" : "")">
                <a asp-page="Index" asp-route-PageIndexA="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

<h3>Order CLUB</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].ShortDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].LongDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinedClub[0].DateOfEstablishment)
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AvailableClub)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEstablishment)
            </td>
            <td>
                <a asp-page="#" asp-route-id="@item.Id">Join</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPagesAvailableClub; i++)
        {
            <li class="page-item @(i == Model.PageIndexAvailableClub ? "active" : "")">
                <a asp-page="Index" asp-route-PageIndexB="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>